<!DOCTYPE html>
<html>
  <head>
    <title>TailwindStarter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="ml-14 mr-14">
    <nav class="flex justify-between mt-7">
      <div class="hover:underline">
        <%= link_to "Home", root_path %>
      </div>
      <div class="bg-blue-500 rounded hover:bg-blue-700 text-white px-3">
        <%= link_to "new post!", new_idea_path%>
      </div>
      <% if user_signed_in? %>
        <div>
          <strong>
            <%= current_user.email %>
          </strong>
        </div>
        <div class="flex">
          <%= link_to 'Profile', edit_user_registration_path,  :class => 'hover:underline mr-1' %> |
          <%= button_to "Logout", destroy_user_session_path, method: :delete,  :class => 'hover:underline ml-1'  %>
        </div>
      <% else %>
        <div class="flex">
          <%= link_to "Sign up", new_user_registration_path,  :class => 'hover:underline mr-1' %> |
          <%= link_to "Login", new_user_session_path, :class => 'hover:underline ml-1' %>
        </div>
      <% end %>
    </nav>

    <% if notice %>
      <div class="notice bg-green-500 rounded text-white text-center px-3 w-80 mt-7">
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert bg-red-500 rounded text-white text-center px-3 w-80 mt-7">
        <%= alert %>
      </div>
    <% end %>

    <main class="container mt-7 px-5">
      <br>
      <%= yield %>
    </main>
  </body>
</html>
